{% extends "portfolio_base.html" %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Portfolio Details</li>
      </ol>
      <h2>Portfolio Details: Reduce Reuse Recycle(R3) - IITB 2017</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="portfolio-details-container">

        <div class="owl-carousel portfolio-details-carousel text-center">
          <!-- <img src="assets/img/portfolio/cgiu1.jpg" class="img-fluid" alt=""> -->
          <!-- <img src="assets/img/portfolio/siemens2.png" class="img-fluid" alt="">
            <img src="assets/img/portfolio/siemens1.jpg" class="img-fluid" alt=""> -->
          <iframe class="video-responsive" src="https://www.youtube.com/embed/bBmaqzUP0io" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="portfolio-info" style="position: relative;bottom: 0;">
          <h3>Product information</h3>
          <ul>
            <li><strong>Product Name</strong>: WasteRover</li>
            <li><strong>Event Name</strong>: R3(Reduce, Reuse, Recycle)</li>
            <li> <strong>Organised By</strong>: Abhudaya, IIT Bombay</li>
            <li><strong>Event date</strong>: 21-22 January, 2017</li>
            <li><strong>Event URL</strong>: <a href="https://www.abhyudayiitb.org/main2k18/competitions.html">Click to Visit</a></li>
          </ul>
        </div>

      </div>

      <div class="portfolio-description">
        <h2>WasteRover: An efficient automatic floating water waste collector</h2>
        <p>
          Innovations are sparked only when we find ourselves facing the barrage of difficulties. We revved up our neurons to kick off 2017 by securing first runner-up in “R3 (Reduce, Recycle, Reuse)”.The vision of this competition is to
          inspire the youth of India to achieve the highest waste reduction, recycling and reuse goals through innovation and creativity.
          R3 is a nation-wide Product Design competition conducted by Abhyuday, IIT Bombay. <br><br> Three members (Aakash Patidar, Rajesh Prajapati and Harmanjot Singh Grewal) of Team ProDex made it happen. Our idea of a product named “WasteRover”
          : simple
          yet efficient automatic floating water waste collector was made up from everyday waste materials.
        </p>
      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}
